:root {
  --main-font-family: 'Roboto', sans-serif;
  --second-font-family: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #2e2f42;
  --second-text-color-theme-dark: #434455;
  --text-color-blue: #404bbf;
  --text-color-portfolio-button: #f4f4fd;
  --color-button: #e7e9fc;
  --color-icon: #8e8f99;
  --color-privat: #4d5ae5;
  --color-check: #ffffff;
}

.list {
  list-style: none;
  font-style: normal;
}

.link {
  text-decoration: none;
  font-style: normal;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-img {
  justify-content: center;
}

/* ================= HEADER ================= */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-div {
  display: flex;
}

.page-navigation {
  align-items: center;
  display: flex;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-link {
  color: var(--primary-text-color-theme-dark);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contact-tel {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-family: var(--second-font-family);
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.span-logo {
  color: var(--primary-text-color-theme-dark);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.menu-link:hover,
.menu-link:focus,
.contact-tel-link:hover,
.contact-tel-link:focus {
  color: var(--text-color-blue);
}

.contact-tel-link {
  color: var(--second-text-color-theme-dark);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item {
  gap: 40px;
  padding: 24px 0;
}

/* ================= HERO ================= */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/people-office.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #2e2f42;
  max-width: 1440px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-info {
  padding-top: 96px;
  padding-bottom: 120px;
}

.main-title {
  left: 472px;
  top: 260px;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}

.btn {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  border: none;
  height: 56px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--text-color-blue);
}

/* ================= INFO ================= */

.info {
  color: var(--primary-text-color-theme-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.info-list {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.work {
  padding-top: 0;
}

.section-info {
  padding: 120px 0 120px;
}

.info-list-li {
  width: calc((100%-72px) / 4);
}

.div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
}

.icon {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
}

.icon-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 102px;
  padding-right: 102px;
  margin-bottom: 8px;
}

/* ================= ABOUT ================= */
.title {
  color: var(--primary-text-color-theme-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.about-li {
  display: flex;
  width: calc((100% - 48px) / 3);
}

.about-img {
  display: flex;
  gap: 24px;
}

/* ================= EMPLOYEES =================*/

.employees {
  background-color: #f4f4fd;
}

.employees-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.employees-img {
  display: flex;
  gap: 24px;
}

.employees-list-name {
  color: var(--primary-text-color-theme-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.employees-list-position {
  color: var(--second-text-color-theme-dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.employees-list-text {
  border-top: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  padding: 32px 0 32px;
}

.img {
  width: 360;
  height: 300;
}

.img-team {
  width: 264px;
  height: 260px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--text-color-blue);
}

.social-list-icon {
  fill: var(--text-color-portfolio-button);
}

/* ================= Customers =================*/

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers {
  padding: 120px 0 120px;
}

.customers-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  color: var(--color-icon);
  border: 1px solid #8e8f99;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
  outline: none;
  border-color: #404bbf;
  color: #404bbf;
}

svg {
  fill: currentColor;
}

/* ================= FOOTER =================*/
.footer-list {
  background-color: var(--primary-text-color-theme-dark);
  padding: 100px 0;
}

.footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
  width: 264px;
  height: 72px;
  left: 156px;
  top: 2420px;
}

.span-logo-footer {
  color: #f4f4fd;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.social-media {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-list-li {
  display: flex;
  gap: 16px;
}

.footer-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: #31d0aa;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-list-icon {
  fill: var(--text-color-portfolio-button);
}

.footer-subscribe {
  margin-left: 80px;
}

.footer-form {
  display: flex;
  position: relative;
}

.subscribe {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.subscribe-form {
  margin-right: 24px;
}

.subscribe-input {
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  border: none;
  border: 1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.button-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  background-color: #4d5ae5;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  margin-right: 16px;
}

.footer-subscribe-icon {
  display: block;
  width: 24px;
  height: 24px;
  right: 16px;
  margin-left: 16px;
}

/* ================= Portfolio =================*/
/* ================= Portfolio =================*/
/* ================= Portfolio =================*/

.info-button {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.button {
  background-color: var(--text-color-portfolio-button);
  color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: var(--main-font-family);
  border-radius: 4px;
  border: 1px solid var(--color-button);
  justify-content: center;
  display: flex;
  padding: 12px 24px;
  flex: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover,
.hero-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.button:hover,
.button:focus {
  background-color: var(--text-color-blue);
  color: white;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-img {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  margin-top: 75px;
  row-gap: 48px;
}

.img-li {
  width: calc((100% - 48px) / 3);
}

.list-text-img {
  border-radius: 0px 0px 4px 4px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-header {
  color: var(--primary-text-color-theme-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-paragraph {
  color: var(--second-text-color-theme-dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 32px;
  padding-right: 32px;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover .overlay,
.hero-link:focus .overlay {
  transform: translateY(0%);
}

/* ================= backdrop =================*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 408px;
  height: 584px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  padding: 0;
  outline: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal:hover .modal-close-icon,
.modal:focus .modal-close-icon {
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.contact-form-div {
  margin-bottom: 8px;
}

.contact-form-comment {
  margin-bottom: 16px;
}

.contact-form-label {
  display: block;
  margin-bottom: 4px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:hover,
.contact-form-input:focus {
  outline: none;
  border-color: #4d5ae5;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  background-color: transparent;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:hover,
.textarea:focus {
  outline: none;
  border-color: #4d5ae5;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-checkbox {
  margin-bottom: 24px;
}

.modal-text-contact {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.contact-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.checkbox-form {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-icon);
}

.link-privacy-policy {
  line-height: 1.33;
}

.link-privacy-policy {
  color: var(--color-privat);
}

.modal-icon {
  position: absolute;
  display: block;
  width: 18px;
  height: 24px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: #8e8f99;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-wrapper:hover .modal-icon {
  fill: #4d5ae5;
}

.contact-form-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.form-input-wrapper {
  position: relative;
  display: block;
}

.text-accept {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox-castom-icon {
  opacity: 0;
}

.checkbox-input:checked + .checkbox-form .checkbox-castom-icon {
  opacity: 1;
}

.checkbox-input:checked + .checkbox-form .text-accept {
  opacity: 1;
  background-color: var(--text-color-blue);
  border: none;
  fill: var(--color-check);
  color: var(--color-check);
  border-color: var(--text-color-blue);
}

.button-send {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  outline: none;
  margin-top: 24px;
  margin-bottom: 24px;
  cursor: pointer;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus {
  background-color: #404bbf;
}
